.progress {

}

.progress-item {

}

.progress-title {
    line-height: 40px; 
    color: #000;
}

.progress-bar {
    width: 88%;
}

.progress-design {
    width: 76%;
}

.progress-development {
    width: 76%;
}

.progress-wordPress {
    width: 81%;
}

.progress-drupal {
    width: 71%;
}
