#header {
    background: url(img/bg_header.jpg) no-repeat top;
    background-size: cover;

    .logo img {
        margin-top: 55px;
    }
    h1 {
        margin-top: 340px;
    }
    p {
        margin: 20px 0;
        color: #fff;
    }
    .iphone img {
        position: relative;
        top: 225px;
    }
}
